<% include ../partials/header %>
<div class="container"><!-- container -->
  <% include ../partials/patient-profile %>
    <br><br>
<form class="col s12" method="POST" action="/patients/<%=patient.id%>/records/<%=record.id%>/results/<%=result.id%>/edit/?_method=PUT">
<input type="hidden" name="_method" value="PUT">
    <div class="row"> <!-- main row -->
           <div class="col s2"></div>

           <div class="col s8">
             
              <div class="row">
                    <div class="input-field col s6">
                        <input id="evaluator" type="text" class="validate" name="evaluator" required value="<%=result.evaluator%>">
                        <label for="evaluator">Evaluator</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="visit_date" type="date" class="validate" name="visit_date" required value="<%= moment(result.date).format('YYYY-MM-DD');%>">
                        <label for="visit_date">Visit Date</label>
                    </div>
              </div>

              <div class="row">
                      <div class="input-field col s12">
                          <textarea id="findings" class="materialize-textarea" name="findings" required><%=result.findings%></textarea>
                          <label for="findings">Findings</label>
                      </div>
              </div>

              <div class="row">
                      <div class="input-field col s12">
                          <textarea id="recommendation" class="materialize-textarea" name="recommendation" required><%=result.recommendation%></textarea>
                          <label for="recommendation">Recommendation</label>
                      </div>
              </div>

              <div class="row">
                  <div class="input-field col s6">
                      <input id="follow_up" type="text" class="validate" name="follow_up" required value="<%=result.followUp%>">
                      <label for="follow_up">Follow Up</label>
                  </div>

                  <div class="input-field col s6">
                      <input id="clearance" type="text" class="validate" name="clearance" required value="<%=result.clearance%>">
                      <label for="clearance">Clearance</label>
                  </div>
              </div>

              <div class="row">
                  <div class="input-field col s4">
                      <textarea id="remarks" class="materialize-textarea" name="remarks" required><%=result.remarks%></textarea>
                          <label for="remarks">Remarks</label>
                  </div>

                  <div class="input-field col s4">
                      <textarea id="doctors_note" class="materialize-textarea" name="doctors_note" required><%=result.note%></textarea>
                          <label for="doctors_note">Doctor's Notes</label>
                  </div>
                  <% let status = ['New','Pending','Fit','Unfit','Expired']%>
                  <div class="input-field col s2">
                      <select name="status" required>
                          <option value="" disabled selected>Choose</option>
                          <% status.forEach((s) => { %>
                            <option value="<%= s %>" <% let stat = result.status === s?"selected":""; %><%= stat %>><%= s %></option>
                          <% })%>
                      </select>
                      <label>Status</label>
                  </div>

                  <% let privacies = ['Public','Private']%>
                  <div class="input-field col s2">
                      <select name="privacy" required>
                          <option value="" disabled selected>Choose</option>
                          <% privacies.forEach((p) => { %>
                            <option value="<%= p %>"
                                <%let priv = result.privacy === p ? "selected":""; %>
                            <%=priv %> ><%= p %></option>
                          <% })%>
                      </select>
                      <label>Privacy</label>
                  </div>

              </div>
            
            
            

            <div class="row"><!-- row button-->

                <div class="col s6">
           
                </div>

                <div class="col s6">
                    <div class="wrapper right-align">
                            <button type="submit" class="waves-effect btn" onclick="return customeUpdate();"><i class="material-icons right">update</i>Update Result</button>
                    </form><!-- form submit -->
                            <button type="button" class="waves-effect btn" onclick="customeClear()"><i class="material-icons right">cancel</i>Cancel</button>
                    </div>
                </div>

            </div> <!-- row button -->

           </div><!-- col s8 -->

           <div class="col s2"></div>
    </div><!-- main row -->
    
    
</div><!-- container -->




<% include ../partials/footer %>