<% include ../partials/header %>


<div class="container"><!-- container -->
    <br><br>
      <div class="row"> <!-- main row -->
        <form class="col s12" method="POST" action="admin/client/add">
            <div class="col s2"></div>
              <div class="col s8">

                  <div class="row">
                      <% if(errors) { %>
                        <ul>
                                <% errors.forEach((e) => { %>
                                <div class="alert alert-danger">
                                    <strong><b>Warning!</b></strong> <%= e.msg %>
                                </div>
                                <% }) %>
                        </ul>
                    <% } %>
                  </div>

                  <div class="row">
                      <h4>Client Registration</h4>
                        <div class="row">
                          <div class="input-field col s12">
                           <% if(errors) { %>
                              <input id="name" type="text" class="validate" name="name" value="<%= name %>">
                           <% } else { %>
                              <input id="name" type="text" class="validate" name="name">
                           <% } %>
                            <label class="active" for="name" >Agency Name</label>
                          </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8">
                              <% if(errors) { %>
                                <input id="contact_person" type="text" class="validate" name="contact_person" value="<%= contactPerson %>">
                              <% } else { %>
                                <input id="contact_person" type="text" class="validate" name="contact_person">
                              <% } %>
                              <label class="active" for="contact_person">Contact Person</label>
                            </div>

                            <div class="input-field col s4">
                               <% if(errors) { %>
                                <input id="contact" type="text" name="contact" class="validate" value="<%= contact %>">
                               <% } else { %>
                                <input id="contact" type="text" name="contact" class="validate">
                               <% } %>
                                <label class="active" for="contact">Contact No.</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                              <% if(errors) { %>
                                <textarea id="address" class="materialize-textarea" data-length="120" name="address"><%= address %></textarea>
                              <% } else { %>
                                <textarea id="address" class="materialize-textarea" data-length="120" name="address"></textarea>
                              <% } %>
                                <label for="address">Address</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                
                                <p>
                                    <label>
                                    <% if(errors) { %>
                                      <%  if(status == 'active') { %>
                                          <input name="status" value="active" type="radio" checked />
                                      <% } else { %>
                                          <input name="status" value="active" type="radio"/>
                                      <%  } %>
                                      <% } else { %>
                                      <input name="status" value="active" type="radio" checked />
                                      <% } %>
                                      <span>Active</span>
                                    </label>
                                  </p>
                                  <p>
                                    <label>
                                     <% if(errors) { %>
                                     <%   if(status == 'inactive') { %>
                                          <input name="status" value="inactive" type="radio" checked/> 
                                      <%  } else { %>
                                          <input name="status" value="inactive" type="radio" />
                                      <%  } %>
                                    <%  } else { %>
                                      <input name="status" value="inactive" type="radio" />
                                    <%  } %>
                                      <span>Inactive</span>
                                    </label>
                                  </p>
                            </div>

                            <div class="input-field col s4 offset-s6 right">
                                <div class="wrapper right-align">                               
                                    <button type="submit" class="waves-effect btn"><i class="material-icons right">save</i>Register</button>
                                  </form>   
                                </div>
                            </div>

                        </div>
                  </div>

              </div>
            <div class="col s2"></div>
        </form>
      </div><!-- main row -->
</div><!-- container -->

<% include ../partials/footer %>